extends layout

block content
  .inner
    h2 Edit Your Account
    form(action="/account" method="POST")
      //-label(for="username") Username
      //-input(type="text" name="username" value=user.username)
      //-p
      label(for="email") Email Address
      input(type="email" name="email" value=user.email)
      p
      p
      input.button(type="submit" value="Update Account")
